body {
    background-color: whitesmoke;
}

section.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

section.grid div {
    /*crimson*/
    background-color: rgba(220, 20, 60);
    text-align: center;
}