body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    background-color: whitesmoke;
    box-sizing: border-box;
}

section.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

article {
    padding: 0% 10%;
    text-align: center;
}

section.grid div {
    /*crimson*/
    background-color: #3a9100;
    text-align: center;
}